<div id='left-nav'>
  <div class='title'>
    <span>Learn</span>
  </div>
  <ul class='topnavlist'>
		<li class='navsection {% ifnotequal expanded 'articles' %}collapsed{% endifnotequal %}'>
      <div class='topcat'>
        <div class='navexpander'>+</div>
        <div class='catname'>
          <a href='#'>Articles</a>
        </div>
      </div>
      <ul class='subnavlist'>
{% for article in article_list %}
        <li>
          <a href='{{ article.get_absolute_url }}'>{{ article.title }}</a>
        </li>
{% endfor %}
      </ul>
    </li>
    <li class='navsection {% ifnotequal expanded 'tutorials' %}collapsed{% endifnotequal %}'>
      <div class='topcat'>
        <div class='navexpander'>+</div>
        <div class='catname'>
          <a href='#'>Tutorials</a>
        </div>
      </div>
      <ul class='subnavlist'>
{% for tutorial in tutorial_list %}
        <li>
          <a href='{{ tutorial.get_absolute_url }}'>{{ tutorial.title }}</a>
        </li>
{% endfor %}
      </ul>
    </li>
    <li class='navsection {% ifnotequal expanded 'talks' %}collapsed{% endifnotequal %}'>
      <div class='topcat'>
        <div class='navexpander'>+</div>
        <div class='catname'>
          <a href='#'>Talks</a>
        </div>
      </div>
      <ul class='subnavlist'>
{% for talk in talk_list %}
        <li>
          <a href='{{ talk.get_absolute_url }}'>{{ talk.title }}</a>
        </li>
{% endfor %}
      </ul>
    </li>
  </ul>
</div>