<div id='left-nav'>
  <div class='title'>
    <span>Jump to Section</span>
  </div>
  <div class='letternav'>
    {% for letter,songs in sections.iteritems %} 
      <a {% if songs %}href="#{{ letter }}"{% endif %}>{{ letter }}</a>
    {% endfor %}
  </div>

  <div class="left-nav-spacer">&nbsp;</div>

  <div class='title'>
    <span>By Resource Type</span>
  </div>
  <div class='filter'>
    <a href="/resources/type/watch/">Watch</a><br />
    <a href="/resources/">Listen</a><br />
    <a href="/resources/type/read/">Read</a>
  </div>

  <div class="left-nav-spacer">&nbsp;</div>

  <div class='title'>
    <span>By Genre</span>
  </div>
  <div class='filter'>
    {% for genre in genres %}
    <a href="/resources/genre/{{ genre.slug }}/">{{ genre.name }}</a><br />
    {% endfor %}
  </div>
</div>