<li>
  <div class='actionmenu'>
    {% if song.mp3 %}
    <div class='audioplayer'>
      <div class='mp3holder' id='song{{ song.id }}' rel='{{ song.mp3.url }}'></div>
      <div class='time'></div>
      <div class='outerprogressbar'>
        <div class='innerprogressbar'></div>
      </div>
    </div>
    {% endif %}
    {% comment %}<span class='label'>Download:</span>
    {% if song.sheet_music %}<a href='{{ song.sheet_music.url }}'>Sheet Music</a>
    {% if song.slides %}<span> |</span>{% endif %}{% endif %}
    {% if song.slides %}<a href='{{ song.slides.url }}'>Slides</a>{% endif %}
    {% if song.sheet_music or song.slides %}{% if song.lyrics %}<span> |</span>{% endif %}{% endif %}
    {% if song.lyrics %}<a href='{{ song.lyrics.url }}'>Lyrics</a>{% endif %}
    {% if song.sheet_music or song.slides or song.lyrics %}{% if song.mp3 %}<span> |</span>{% endif %}{% endif %}
    {% if song.mp3 %}<a href='{{ song.mp3.url }}'>MP3</a>{% endif %}{% endcomment %}
  </div>
  {% if song.mp3 %}<button class='audioplay paused' id='playsong{{ song.id }}' rel='song{{ song.id }}'></button>{% endif %}
  <h3><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></h3>
  <div class='break'></div>
  <div class='details'>
    <span class='expander' rel='song{{ song.id }}-detail'>View Song Info &#x2B07;</span>
  </div>
  <div class='break'></div>
  <div class='extendeddetails' id='song{{ song.id }}-detail'>
    <div class='information'>
      <table>
        <tr class='header'>
          <td colspan='2'>INFORMATION</td>
        </tr>

        {% if song.church %}
        <tr>
          <td class='category'>Church:</td>
          <td class='listing'>{{ song.church }}</td>
        </tr>
        {% endif %}

        {% if song.songwriter %}
        <tr>
          <td class='category'>Songwriter:</td>
          <td class='listing'>{{ song.songwriter }}</td>
        </tr>
        {% endif %}

        {% if song.producer %}
        <tr>
          <td class='category'>Producer:</td>
          <td class='listing'>
            {{ song.producer }}
          </td>
        </tr>
        {% endif %}

        {% if song.vocals.all|length %}
        <tr>
          <td class='category'>Vocals:</td>
          <td class='listing'>
            {% for contributor in song.vocals.all %}
            {{ contribuer }}
              {% if not forloop.last %}
              <span>,</span>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        {% if song.album_title %}
        <tr>
          <td class='category'>Album Title:</td>
          <td class='listing'>
            {{ song.album_title}}
          </td>
        </tr>
        {% endif %}

        {% if song.release_date %}
        <tr>
          <td class='category'>Release Date:</td>
          <td class='listing'>
            {{ song.release_date|date:"F j, Y"}}
          </td>
        </tr>
        {% endif %}

        {% if song.genre %}
        <tr>
          <td class='category'>Genre:</td>
          <td class='listing'>
            {{ song.genre }}
          </td>
        </tr>
        {% endif %}

        {% if song.tags.all|length %}
        <tr>
          <td class='category'>Category:</td>
          <td class='listing'>
            {% for tag in song.tags.all %}
            {{ tag }}
              {% if not forloop.last %}
              <span>,</span>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}

      </table>
    </div>
    <table>
      <tr class='header'>
        <td colspan='2'>LINKS</td>
      </tr>

      {% if song.sheet_music %}
      <tr>
        <td class='category'>Sheet Music:</td>
        <td class='listing'><a href='{{ song.sheet_music.url }}'>Download</a></td>
      </tr>
      {% endif %}

      {% if song.slides %}
      <tr>
        <td class='category'>Slides</td>
        <td class='listing'><a href='{{ song.slides.url }}'>Download</a></td>
      </tr>
      {% endif %}

      {% if song.lyrics %}
      <tr>
        <td class='category'>Lyrics</td>
        <td class='listing'><a href='{{ song.lyrics.url }}'>Download</a></td>
      </tr>
      {% endif %}

      {% if song.mp3 %}
      <tr>
        <td class='category'>MP3</td>
        <td class='listing'><a href='{{ song.mp3.url }}'>Download</a></td>
      </tr>
      {% endif %}

      {% for video in song.related_videos.all %}
      <tr>
        <td class='category'>WATCH: </td>
        <td class='listing'><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></td>
      </tr>
      {% endfor %}

      {% for article in song.related_articles.all %}
      <tr>
        <td class='category'>READ:</td>
        <td class='listing'><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
      </tr>
      {% endfor %}

      {% for talk in song.related_talks.all %}
      <tr>
        <td class='category'>LISTEN:</td>
        <td class='listing'><a href="{{ talk.get_absolute_url }}">{{ talk.title }}</a></td>
      </tr>
      {% endfor %}

      <tr>
        <td class='category'>LINK:</td>
        <td class='listing'><a href="{{ song.get_absolute_url }}">http://ncfmusic.com{{ song.get_absolute_url }}</a></td>
      </tr>

    </table>
  </div>
  <div class='break'></div>
  
</li>