<li>
  <div class='actionmenu'>
    <span class='label'>Download:</span>
    {% if song.sheet_music %}<a href='{{ song.sheet_music.url }}'>Sheet Music</a>
    {% if song.slides %}<span> |</span>{% endif %}{% endif %}
    {% if song.slides %}<a href='{{ song.slides.url }}'>Slides</a>{% endif %}
    {% if song.sheet_music or song.slides %}{% if song.lyrics %}<span> |</span>{% endif %}{% endif %}
    {% if song.lyrics %}<a href='{{ song.lyrics.url }}'>Lyrics</a>{% endif %}
    {% if song.sheet_music or song.slides or song.lyrics %}{% if song.mp3 %}<span> |</span>{% endif %}{% endif %}
    {% if song.mp3 %}<a href='{{ song.mp3.url }}'>MP3</a>{% endif %}
  </div>
  <h3><a href="{{ article.get_absolute_url }}">{{ song.title }}</a></h3>
  <div class='break'></div>
  <div class='details'>
    <span>
      <a href='{{ song.songwriter.get_absolute_url }}'>{{ song.songwriter }}</a>
    </span>
    <span> |</span>
    <span>
      <a href='{{ song.church.get_absolute_url }}'>{{ song.church }}</a>
    </span>
    <span> |</span>
    <span class='expander' rel='song{{ song.id }}-detail'>View Song Info &#x2B07;</span>
  </div>
  <div class='break'></div>
  <div class='extendeddetails' id='song{{ song.id }}-detail'>
    <table>
      <tr>
        <td class='category'>Songwriter:</td>
        <td class='listing'>
          <a href='{{ song.songwriter.get_absolute_url }}'>{{ song.songwriter }}</a>
        </td>
      </tr>
      <tr>
        <td class='category'>Producer:</td>
        <td class='listing'>
          {{ song.producer }}
        </td>
      </tr>
      <tr>
        <td class='category'>Vocals:</td>
        <td class='listing'>
          {% for contributor in song.vocals.all %}
          <a href="{{ contribuer.get_absolute_url }}">{{ contribuer }}</a>
            {% if not forloop.last %}
            <span>,</span>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class='category'>Release Date:</td>
        <td class='listing'>
          {{ song.release_date|date:"F j, Y"}}
        </td>
      </tr>
      <tr>
        <td class='category'>Album Title:</td>
        <td class='listing'>
          {{ song.album_title}}
        </td>
      </tr>
    </table>
  </div>
  <div class='break'></div>
  
</li>