{% extends "base.html" %}

{% block headerclasses %} class="interior about" {% endblock headerclasses %}

{% block content %}
<div class='interior about' id='content'>
        <h2 class='pagename'>
          About
          <span class='textlogo'>
            New City
            <strong>Music</strong>
          </span>
        </h2>
        <div class='contact navcol'>
          <div class='title'>
            <span>Contact</span>
          </div>
          <ul class='contents'>
            <li>
              <h3>
                James Ward
                <span class='role'>music director</span>
              </h3>
              <div class='phone'>423-222-2222</div>
              <div class='email'>
                <a href='mailto:jamesward@ncfmusic.com'>jamesward@ncfmusic.com</a>
              </div>
            </li>
            <li>
              <h3>
                New City Fellowship Glenwood
              </h3>
              <div class='address'>2412 East 4th St.<br />Chattanooga, Tennessee 37494</div>
            </li>
          </ul>
        </div>
        <img class='colphoto' src='/media/images/jim-piano.png' />
        <div class='articlebody'>
          <p>
            Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping, raising our hands, shouting and dancing. The Psalms teach us to use instruments and to call on everything that has breath to praise the Lord. We do not think that being truly Reformed means to only use a Northern European 16th century cerebral style and functional order to worship God.
          </p>
          <p>
            Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping, raising our hands, shouting and dancing. The Psalms teach us to use instruments and to call on everything that has breath to praise the Lord. We do not think that being truly Reformed means to only use a Northern European 16th century cerebral style and functional order to worship God.
          </p>
        </div>
      </div>
{% endblock content %}      
