{% extends "base.html" %}

{% block headerclasses %} class="interior interiorhead about abouthead" {% endblock headerclasses %}

{% block content %}
<div class='interior conference' id='content'>
        <h2 class='pagename'>
          New City
          <span class='textlogo'>
            Music Conference
          </span>
        </h2>
        <div class='articlebody'>
          {{ page.content|safe }} 
          <a class='btn btn-primary btn-large' href='/conference/registration/'>Sign Up Now</a>
        </div>
      </div>
{% endblock content %}      
