{% extends "base.html" %}

{% block headerclasses %} class="interior interiorhead about abouthead" {% endblock headerclasses %}

{% block content %}
<div class='interior conference' id='content'>
        <h2 class='pagename'>
          New City
          <span class='textlogo'>
            Music Conference
          </span>
        </h2>
        <img class='colphoto' src='/media/images/2013_Conference_Callout.jpg' />
        <div class='articlebody'>
          Thank you for registering for the 2013 New City Music Conference. Your registration is now complete.
        </div>
      </div>
{% endblock content %}      
