{% extends "base.html" %}

{% block headerclasses %} class="interior interiorhead learn learnhead" {% endblock headerclasses %}

{% block content %}
<div class='interior learn' id='content'>
  {% include "events/sidebar.html" %}
  <div id='maincontent'>
    <h2 class='pagename'>
      Events
    </h2>
    <ul class='aggregation'>
      {% if events %}
  {% for event in events.object_list %}   
    {% include "events/event_item.html" %}
  {% endfor %}    
      {% else %}
      <li><h3>No Upcoming Events</h3></li>
      {% endif %}
    </ul>
    <div class='break'></div>
    <div id='pagination'>
{% ifnotequal events.number 1 %}     
      <div class='first'>
        <a href="?page=1">first</a>
      </div>
{% else %}
      <div class='first inactive'>first</div>
{% endifnotequal %}
{% if events.has_previous %}
      <div class='previous'>
        <a href="?page={{ events.previous_page_number }}">&lt; previous</a>
      </div>
{% else %}          
      <div class='previous inactive'>&lt; previous</div>
{% endif %}
      <div class='pages'>
        <span>page</span>
        <span class='number'>{{ events.number }}</span>
        <span> of</span>
        <span class='number'>{{ events.paginator.num_pages }}</span>
      </div>
{% if events.has_next %}
      <div class='next'>
        <a href='?page={{ events.next_page_number }}'>next &gt;</a>
      </div>
{% else %}
      <div class='next inactive'>next &gt;</div>
{% endif %}
{% ifnotequal events.number events.paginator.num_pages %}
      <div class='last'>
        <a href='?page={{ events.paginator.num_pages }}'>last</a>
      </div>
{% else %}
      <div class='last inactive'>last</div>
{% endifnotequal %}   
    </div>
    <div class='break'></div>
  </div>
  <div class='break'></div>
</div>
{% endblock content %}