{% extends "base.html" %}

{% block headerclasses %} class="home" {% endblock headerclasses %}

{% block headercallout %}        
        <div class='headercallout listen'>
          <div class='title'>
            <a class='viewall' href='/listen'>
              <img src='{{ MEDIA_URL }}/images/title-all-songs.png' />
            </a>
            <span>Listen</span>
          </div>
          <ul class='contents'>
  {% for song in songs %}
            <li>
              <button class='audioplay paused' id='playsong{{ song.id }}' rel='song{{ song.id }}'></button>
              <h3>{{ song.title }}</h3>
              <a href='{{ song.church.get_absolute_url }}'>{{ song.church }}</a>
              <div class='audioplayer nocontrols'>
                <div class='mp3holder' id='song{{ song.id }}' rel='{{ song.mp3.url }}'></div>
              </div>
            </li>
  {% endfor %}
            {% comment %}<li class='last'> 
						   <a href='#'> 
						   		<img src='media/images/subscribe-podcast-small-callout.png' /> 
						   </a> 
						</li>{% endcomment %}
          </ul>
        </div>
{% endblock headercallout %}

{% block content %}      
      <div class='home' id='content'>
        <div id='leftcallout'>
          <div class='title'>
            <a class='viewall' href='/blog'>
              <img src='{{ MEDIA_URL }}/images/title-all-articles.png' />
            </a>
            <span>Blog</span>
          </div>
          <ul>
            {% for entry in entries %}
            <li>
              <h3>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
              </h3>
              <p>{{ entry.teaser|safe }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id='rightcol'>
        {% comment %}
          <div id='ad'>
            <a href='/conference/'>
              <img src='{{ MEDIA_URL }}/images/2013_Conference_Callout.jpg' />
            </a>
          </div>
        {% endcomment %}

          <div id='watch'>
            <div class='title'>
              <span>Video</span>
            </div>
            {% if watch.vimeo_id %}
              <iframe src="http://player.vimeo.com/video/{{ watch.vimeo_id }}?title=0&byline=0&portrait=0" width="562" height="318" frameborder="0"></iframe>
            {% else %}
              {% if watch.youtube_id %}
              <iframe id="player" type="text/html" width="562" height="318" src="http://www.youtube.com/embed/{{ watch.youtube_id }}?enablejsapi=1&origin=http://ncfmusic.com" frameborder="0"></iframe>
              {% endif %}
              <h3>
                <a href='#'>{{ watch.title }}</a>
              </h3>
              <p>{{ watch.description|safe }}</p>
            {% endif %}
          </div>
          
          
          {% comment %}
          <div id='learn'>
            <div class='title'>
              <a class='viewall' href='/articles'>
                <img src='{{ MEDIA_URL }}/images/title-all-articles.png' />
              </a>
              <span>Learn</span>
            </div>
            <ul>
  {% for article in learn %}              
              <li>
                <h3>
                  <a href='/articles/{{ article.slug }}'>{{ article.title }}</a>
                </h3>
                <p>{{ article.teaser|safe }}</p>
              </li>
  {% endfor %}              
            </ul>
          </div>
          {% endcomment %}
          <div id='findasong'>
            <form action='/songs/' method='get'>
              <div class='typechooser'>
                <input name='type' type='radio' value='sheet_music' />
                <span>Sheet Music</span>
                <input name='type' type='radio' value='lyrics' />
                <span>Lyrics</span>
                <input name='type' type='radio' value='slides' />
                <span>Overhead Slides</span>
              </div>
              <h2>Find A Song</h2>
              <div class='searchwrap'>
                <input class='searchtext' name='q' type='text' value='Album, Artist, or Song Name' />
                <input class='searchbutton' name='submit' src='{{ MEDIA_URL }}/images/search-icon2.png' type='image' />
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}
