{% extends "base.html" %}

{% block headerclasses %}
 class='interior interiorhead listen listenhead'
{% endblock headerclasses %}

{% block content %}
      <div class='interior listen' id='content'>
        <h2 class='pagename'>
          Listen
        </h2>
        <div class='intro'>
          {% comment %}<a href='#'>
            <img alt='Subscribe to the NCF Music Podcast' src='{{ MEDIA_URL }}/images/subscribe-podcast.png' />
          </a>{% endcomment %}
          <p>
            {{ contentpage.content|safe }}
          </p>
          <div class='break'></div>
        </div>
        <ul class='aggregation'>
  {% for listen in listens.object_list %}    
          {% include "listens/listen_item.html" %}
  {% endfor %}          
          <li class='last'>
            <div id='pagination'>
  {% ifnotequal listens.number 1 %}     
              <div class='first'>
                <a href="?page=1">first</a>
              </div>
  {% else %}
              <div class='first inactive'>first</div>
  {% endifnotequal %}
  {% if listens.has_previous %}
              <div class='previous'>
                <a href="?page={{ listens.previous_page_number }}">&lt; previous</a>
              </div>
  {% else %}          
              <div class='previous inactive'>&lt; previous</div>
  {% endif %}
              <div class='pages'>
                <span>page</span>
                <span class='number'>{{ listens.number }}</span>
                <span> of</span>
                <span class='number'>{{ listens.paginator.num_pages }}</span>
              </div>
  {% if listens.has_next %}
              <div class='next'>
                <a href='?page={{ listens.next_page_number }}'>next &gt;</a>
              </div>
  {% else %}
              <div class='next inactive'>next &gt;</div>
  {% endif %}
  {% ifnotequal listens.number listens.paginator.num_pages %}
              <div class='last'>
                <a href='?page={{ listens.paginator.num_pages }}'>last</a>
              </div>
  {% else %}
              <div class='last inactive'>last</div>
  {% endifnotequal %}
              <div class='break'></div>
            </div>
          </li>
        </ul>
      </div>
{% endblock content %}