{% extends "base.html" %}

{% block content %}
<div class='interior learn' id='content'>
  <div id='left-nav'>
    <div class='title'>
      <span>Learn</span>
    </div>
    <ul class='topnavlist'>
      <li class='navsection'>
        <div class='topcat'>
          <div class='navexpander'>-</div>
          <div class='catname selected'>
            <a href='#'>Sources</a>
          </div>
        </div>
        <ul class='subnavlist'>
  {% for source in source_list %}
          <li>
            <a href='{{ source.get_absolute_url }}'>{{ source.name }}</a>
          </li>
  {% endfor %}
        </ul>
      </li>
      <li class='navsection collapsed'>
        <div class='topcat'>
          <div class='navexpander'>+</div>
          <div class='catname'>
            <a href='#'>Tutorials</a>
          </div>
        </div>
        <ul class='subnavlist'>
  {% for tutorial in tutorial_list %}
          <li>
            <a href='{{ tutorial.get_abslute_url }}'>{{ tutorial.title }}</a>
          </li>
  {% endfor %}
        </ul>
      </li>
      <li class='navsection collapsed'>
        <div class='topcat'>
          <div class='navexpander'>+</div>
          <div class='catname'>
            <a href='#'>Talks</a>
          </div>
        </div>
        <ul class='subnavlist'>
  {% for talk in talk_list %}
          <li>
            <a href='{{ talk.get_abslute_url }}'>{{ talk.title }}</a>
          </li>
  {% endfor %}
        </ul>
      </li>
      <li class='navsection collapsed'>
        <div class='topcat'>
          <div class='navexpander'>+</div>
          <div class='catname'>
            <a href='#'>Articles</a>
          </div>
        </div>
        <ul class='subnavlist'>
  {% for article in article_list %}
          <li>
            <a href='{{ article.get_abslute_url }}'>{{ article.title }}</a>
          </li>
  {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
  <div id='maincontent'>
    <h2 class='pagename'>
      Learn
    </h2>
    <ul class='aggregation'>
  {% for talk in talks.object_list %}
      <li>
        <h3>{{ talk.title }}</h3>
        <div class='break'></div>
        <div class='details'>
          <span>{{ talk.date|date:"F j, Y" }}</span>
          <span> |</span>
          <span>
            <a href='{{ talk.author.get_absolute_url }}'>{{ talk.author }}</a>
          </span>
          <span> |</span>
          <span>
            <a href='{{ talk.church.get_absolute_url }}'>{{ talk.church }}</a>
          </span>
          <span> |</span>
          <span>Duration {{ talk.duration }}</span>
        </div>
        <div class='break'></div>
        <div class='teaser'>
          <p>
            {{ talk.teaser|safe }}
          </p>
        </div>
      </li>      
  {% endfor %}      
    </ul>
    <div class='break'></div>
    <div id='pagination'>
{% ifnotequal talks.number 1 %}     
      <div class='first'>
        <a href="?page=1">first</a>
      </div>
{% else %}
      <div class='first inactive'>first</div>
{% endifnotequal %}
{% if talks.has_previous %}
      <div class='previous'>
        <a href="?page={{ talks.previous_page_number }}">&lt; previous</a>
      </div>
{% else %}          
      <div class='previous inactive'>&lt; previous</div>
{% endif %}
      <div class='pages'>
        <span>page</span>
        <span class='number'>{{ talks.number }}</span>
        <span> of</span>
        <span class='number'>{{ talks.num_pages }}</span>
      </div>
{% if talks.has_next %}
      <div class='next'>
        <a href='?page={{ talks.next_page_number }}'>next &gt;</a>
      </div>
{% else %}
      <div class='next inactive'>next &gt;</div>
{% endif %}
{% ifnotequal talks.number talks.num_pages %}
      <div class='last'>
        <a href='?page={{ talks.num_pages }}'>last</a>
      </div>
{% else %}
      <div class='last inactive'>last</div>
{% endifnotequal %}   
    </div>
    <div class='break'></div>
  </div>
  <div class='break'></div>
</div>
{% endblock content %}