{% extends "base.html" %}

{% block content %}
<div class='interior learn' id='content'>
  <div id='left-nav'>
    <div class='title'>
      <span>Learn</span>
    </div>
    <ul class='topnavlist'>
      <li class='navsection'>
        <div class='topcat'>
          <div class='navexpander'>-</div>
          <div class='catname selected'>
            <a href='#'>Sources</a>
          </div>
        </div>
        <ul class='subnavlist'>
          <li>
            <a href='#'>Item one is sortof a long one</a>
          </li>
          <li>
            <a href='#'>This second one aint too short</a>
          </li>
          <li>
            <a href='#'>Same deal with the forth</a>
          </li>
        </ul>
      </li>
      <li class='navsection collapsed'>
        <div class='topcat'>
          <div class='navexpander'>+</div>
          <div class='catname'>
            <a href='#'>Tutorials</a>
          </div>
        </div>
        <ul class='subnavlist'>
          <li>
            <a href='#'>item one</a>
          </li>
          <li>
            <a href='#'>item two</a>
          </li>
          <li>
            <a href='#'>item three</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id='maincontent'>
    <h2 class='pagename'>
      Learn
    </h2>
    <ul class='aggregation'>
      <li>
        <a href='#'>
          <img class='thumb' src='http://b.vimeocdn.com/ts/219/572/21957200_200.jpg' />
        </a>
        <h3 class='nofloat'>Finding Common Ground</h3>
        <div class='details'>
          <span>June 3, 2010</span>
          <span> |</span>
          <span>
            <a href='#'>James Ward</a>
          </span>
          <span> |</span>
          <span>
            <a href='#'>New City Fellowship, Glenwood</a>
          </span>
          <span> |</span>
          <span>Duration 20:13</span>
        </div>
        <div class='teaser'>
          <p>
            Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping.
          </p>
        </div>
      </li>
      <li>
        <h3>Finding Common Ground</h3>
        <div class='break'></div>
        <div class='details'>
          <span>June 3, 2010</span>
          <span> |</span>
          <span>
            <a href='#'>James Ward</a>
          </span>
          <span> |</span>
          <span>
            <a href='#'>New City Fellowship, Glenwood</a>
          </span>
          <span> |</span>
          <span>Duration 20:13</span>
        </div>
        <div class='break'></div>
        <div class='teaser'>
          <p>
            Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping.
          </p>
        </div>
      </li>
      <li>
        <button class='audioplay paused' id='playsong234' rel='song234'></button>
        <h3 class='floater'>Death Is Ended</h3>
        <div class='audioplayer'>
          <div class='mp3holder' id='song234' rel='http://www.largesound.com/ashborytour/sound/brobob.mp3'></div>
          <div class='time'></div>
          <div class='outerprogressbar'>
            <div class='innerprogressbar'></div>
          </div>
        </div>
        <div class='details floater'>
          <span>June 3, 2010</span>
          <span> |</span>
          <span>
            <a href='#'>James Ward</a>
          </span>
          <span> |</span>
          <span>
            <a href='#'>New City Fellowship, Glenwood</a>
          </span>
        </div>
        <div class='break'></div>
        <div class='teaser indented'>
          <p>
            Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping.
          </p>
        </div>
      </li>
    </ul>
    <div class='break'></div>
    <div id='pagination'>
      <div class='first inactive'>first</div>
      <div class='previous inactive'>&lt; previous</div>
      <div class='pages'>
        <span>page</span>
        <span class='number'>1</span>
        <span> of</span>
        <span class='number'>5</span>
      </div>
      <div class='next'>
        <a href='#'>next &gt;</a>
      </div>
      <div class='last'>
        <a href='#'>last</a>
      </div>
    </div>
    <div class='break'></div>
  </div>
  <div class='break'></div>
</div>
{% endblock content %}