<div id='left-nav'>
  <div class='title'>
    <span>Upcoming Events</span>
  </div>
  <ul class='topnavlist'>
		<li class='navsection'>
      <div class='topcat'>
        <div class='catname'>
          <a href='/articles/'>January 2012</a>
        </div>
      </div>
    </li>
    <li class='navsection'>
      <div class='topcat'>
        <div class='catname'>
          <a href='/articles/'>January 2012</a>
        </div>
      </div>
    </li>
    <li class='navsection'>
      <div class='topcat'>
        <div class='catname'>
          <a href='/articles/'>January 2012</a>
        </div>
      </div>
    </li>
  </ul>
</div>